blobconverter==1.4.3
certifi==2025.1.31
charset-normalizer==3.4.1
depthai==2.29.0.0
depthai-sdk==1.1.8
future==1.0.0
idna==3.10
iso8601==2.1.0
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
pip==22.3
pyserial==3.5
pytube==15.0.0
PyTurboJPEG==1.6.4
PyYAML==6.0.2
requests==2.32.3
serial==0.0.97
setuptools==65.5.0
urllib3==2.3.0